__pycache__/
*.pyc
*.pyo
*.pyd
*.log
venv/
venv38/
env*/
*.h5
*.pb
*.tflite
*.onnx
*.pt
*.pth
*.ckpt
*.joblib
*.npy
*.npz
*.tmp
*.bak
*.swp
.ipynb_checkpoints/
.git/
.gitignore
.DS_Store
Thumbs.db
data/
uploads/
results/
build/
dist/
.vscode/
.git/
.idea/
*.md
*.jpg
*.png
*.jpeg
*.mp4
*.avi
*.mov
*.so
*.h
*.c
*.cpp
*.o
*.a
*.out
*.gif
*.zip
*.tar.gz
*.whl
*.bin
*.ckpt
test/
tests/
*.ipynb